// Colors
$space_gray: #1C1C1C;
$light_gray: #e5e5e5;
$dark_gray: #707070;
$bright_green: #5BD376;
$dark_green: #015614;

// Breakpoints
$xs: 0;
$sm: 576px;  
$md: 768px;  
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;
$xxxl: 1704px